<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <table>
    <thead>
      <tr>
        <th>Airline: </th>
        <th>Airport: </th>
        <th>Flight #: </th>
        <th>Departure: </th>
      </tr>
    </thead>
    <tbody>      
      <% flights.forEach(function(f) { %> 
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>   
          <td><%= f.departs %></td>        
          <td><a href="/flights/<%= f._id %> ">Details</a></td>
          <td>
            <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
              <button id="trashFlight"><i class="fas fa-trash-alt"></i></button>
            </form>
          </td>
        </tr>
        <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 